[Desktop Entry]
Name=Gifup
GenericName=Create GIFs in Linux
Comment=Create GIFs from Videos!
Categories=GTK;Utility
Exec=gifup
Icon=gifup
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=gifup
X-GNOME-UsesNotifications=true
Keywords=gif
Actions=About;

[Desktop Action About]
Exec=gifup --about
Name=About Gifup
