[Desktop Entry]
Name=Gifup
GenericName=Create GIFs in Linux
Comment=Create GIFs from Videos!
Categories=GTK;Utility;
Exec=com.github.bharatkalluri.gifup
Icon=com.github.bharatkalluri.gifup
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.bharatkalluri.gifup
X-GNOME-UsesNotifications=true
Keywords=gif;
Actions=About;

[Desktop Action About]
Exec=com.github.bharatkalluri.gifup --about
Name=About Gifup